html, body, h1, h2, h3, p, a, ul, li, ol, div,{
  padding:0;
  border:0;
  margin:0;
}

body {
  padding:0;
  background:#ffffff;
  font-family: "Helvetica";
}

.header {
  background: #009999;
  text-align: center;

  padding:40px 50px 40px 50px;
}

.header a{
  color: white;
}

.header h1{
  color:#eeeeee;
}

h2{
  margin: 10px 0 20px 0;
  color:#403e3e;
  border-bottom: 1px solid #009999
  padding:6px  50px  6px  50px;
}

.main-content{
  width:900px;
  padding:40px 50px 40px 50px;
  margin: 20px auto 0 auto;
}
.Phonemic-Chart{
  padding: 20px 50px 20px 50px;

}


h1 {
  margin: 10px 0px 15px 0;
  color:#403e3e
}


h3{
  margin:15px 0 15px 0;
  border-bottom:6px  solid #009999;
  font-style: italic;
}

ul{
  padding: 15px  0  15px  50px;
  margin-bottom:25px;
}

.header li{
  padding-right: 10px;
}


.samples li{
  color:#000000;
  background-color: #eeeeee;
  font-size:XX-large;
  list-style: none;
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 10px;
  border:6px solid #009999;
  border-radius:15px;
  text-align:center;
  line-height: 70px;
  vertical-align: middle;
}

.samples li:hover {
  background-color:pink;
}

.diphthong-samples li{
  color:#000000;
  background-color: #eeeeee;
  font-size:XX-large;
  list-style: none;
  display: inline;
  border:6px solid #009999;
  border-radius:15px;
  margin: 30px  10px  30px  10px;
  padding:6px 6px 6px 6px;
}

.pages li{
  color:#000000;
  background-color: #eeeeee;
  font-size:XX-large;
  list-style: none;
  border:6px solid #009999;
  margin:30px  10px  30px  10px;
  border-radius: 15px
}


p {
  Padding:50X 20X 0 20X;
  margin:50X 20X 0 20X;
}

a{
  color:black
  }

.footer {
    background:#009999;
    padding:40px 50px 40px 50px;
  }

}
.copyright {
  padding:40px 50px 40px 50px;
  text-align: center;
  font-size: small;

}
